<section class= "">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6" style="background-color: rgb(145, 236, 150);">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">FLOWERIEST</h4>
                </div>


                  <div>
                    <form [formGroup]="loginForm"
                    (ngSubmit)="onLoginSubmit()" >

                    <div class="">
                      <div class="form-outline form-group">
                        <label class="form-label" for="emailAddress"
                          >Email</label
                        >

                        <input
                          type="email"
                          name="email"
                          formControlName="email"
                          class="form-control "
                          required
                        />
                        <div
                          *ngIf="
                             loginFormControl['email'].errors &&
                             loginFormControl['email'].errors[
                              'required'
                            ]
                          "
                        >

                          <div
                            *ngIf="
                               loginFormControl['email'].touched &&
                               loginFormControl['email'].invalid
                            "
                            class="alert alert-danger"
                          >
                            <span style="color: red"
                              >Please Enter valid email.</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>

            <div class="">
              <div class="form-outline form-group">
                <label class="form-label" for="password"
                  >Password</label
                >
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  class="form-control-xl form-control"
                  required
                />
                <div *ngIf=" loginFormControl['password'].errors &&  loginFormControl['password'].errors['required']">

                  <div *ngIf=" loginFormControl['password'].touched &&  loginFormControl['password'].invalid" class="alert alert-danger">
                    <span style="color: red;">Please Enter password </span>
                  </div>
                </div>


              </div>
            </div>


           <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
              <div class="form-check mb-0">
               <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
               <label class="form-check-label" for="form2Example3">
                 Remember me
               </label>
             </div>
             <a href="#!" class="text-body">Forgot password?</a>
           </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 w-100">Sign In</button>
                     <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="register"
                        class="link-danger">Register</a>
                    </p>
                   </div>

                </form>
                </div>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a Floweriest</h4>
                <p class="small mb-0">Flowers and flower bouquets have been used since eternity to express any emotion. Every occasion can be celebrated with flowers. Whether it is birthday, anniversaries, retirement or promotion you can send flowers to Australia from our diverse collection of flowers online. Bring the charm to any occasion, explore our online collection now.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
